/*********************************************************************************
*  Layout
*  Mainを定義
**********************************************************************************/

@use "../global/" as *;

.l-main {
  width: min(2000px, 100%);
  overflow: hidden;
  @include max-screen($bp767) {
    margin-top: min(80px, cl(62));
  }
}
