@charset "UTF-8";
/************************************************************
*  Foundation
*  リセットcssやHTMLタグにかけるスタイル。ベースのスタイル
*************************************************************/
/************************************************************
*  Foundation
*  リセットcss
*************************************************************/
/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/************************************************************
*  Foundation
*  baseのスタイルを定義。HTMLタグに対してスタイルをかける
*************************************************************/
/*
#overview
カラーパレット
*/
/*
#colors

@$mainWhiteBlue #f5f6fc
@$mainLightBlue #d5dffe
@$mainBlue #859be3
@$mainDarkBlue #5268b1

@$accentRed #ff4b4b

@$txtBlack #000
@$txtBlack2 #333333

@$borderGray #cccccc
*/
@media screen and (max-width: 1300px) {
  body {
    margin: 0;
  }
}
@media screen and (max-width: 1140px) {
  body {
    margin: 0;
  }
}
@media screen and (max-width: 1100px) {
  body {
    margin: 0;
  }
}
@media screen and (max-width: 900px) {
  body {
    margin: 0;
  }
}
@media screen and (max-width: 1024px) {
  body {
    margin: 0;
  }
}
@media screen and (max-width: 780px) {
  body {
    margin: 0;
  }
}
@media screen and (max-width: 767px) {
  body {
    margin: 0;
  }
}
@media screen and (max-width: 640px) {
  body {
    margin: 0;
  }
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: 游ゴシック medium, yu gothic medium, 游ゴシック, yu gothic, メイリオ, meiryo, ヒラギノ角ゴ pro, hiragino kaku gothic pro, sans-serif;
  color: #000;
  position: relative;
  z-index: 10;
}

img {
  width: 100%;
  height: auto;
  position: relative;
}

/*********************************************************************************
*  Layout
*  フレーム部分のスタイル(width,height,margin,padding) ☓font-size,color
**********************************************************************************/
/*********************************************************************************
*  Layout
*  Headerを定義
**********************************************************************************/
/************************************************************
*  Global
*  汎用的な関数や変数を格納する
*************************************************************/
/************************************************************
*  Global
*  Mixinを定義
*************************************************************/
/************************************************************
*  Global
*  関数を定義
*************************************************************/
.l-flex {
  display: flex;
}
.l-flex--jcsb {
  justify-content: space-between;
}
.l-flex--jcc {
  justify-content: center;
}
.l-flex--aic {
  align-items: center;
}
.l-flex--ais {
  align-items: start;
}
@media screen and (max-width: 640px) {
  .l-flex--spjcsb {
    justify-content: space-between;
  }
}
@media screen and (max-width: 640px) {
  .l-flex--spjcc {
    justify-content: center;
  }
}
@media screen and (max-width: 640px) {
  .l-flex--spaic {
    align-items: center;
  }
}
@media screen and (max-width: 640px) {
  .l-flex--spais {
    align-items: start;
  }
}
@media screen and (max-width: 1024px) {
  .l-flex-tabblock {
    display: block;
  }
}
@media screen and (max-width: 640px) {
  .l-flex-spblock {
    display: block;
  }
}

/*********************************************************************************
*  Layout
*  Mainを定義
**********************************************************************************/
.l-main {
  width: min(2000px, 100%);
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .l-main {
    margin-top: min(80px, 16.5333333333vw);
  }
}

/*********************************************************************************
*  Layout
*  headerを定義
**********************************************************************************/
.l-header {
  width: min(1100px, 100%);
  margin: 0 auto;
}

/*********************************************************************************
*  Layout
*  innerを定義
**********************************************************************************/
.l-inner {
  width: min(1100px, 100%);
  margin: 0 auto;
}
@media screen and (max-width: 1140px) {
  .l-inner {
    padding: 0px 20px;
  }
}
.l-inner--pdnone-small {
  width: min(900px, 100%);
  margin: 0 auto;
}

.the-page {
  background-color: #f5f5f5;
}
@media screen and (max-width: 1140px) {
  .the-page {
    background-color: red;
  }
}
@media screen and (max-width: 640px) {
  .the-page {
    background-color: pink;
  }
}

.head--h2 {
  font-size: 2.5rem;
}

.para {
  font-size: 1.6rem;
}

.fluid_flex {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 5rem;
}
.fluid_flex__item {
  flex: 1;
}

.mt_20 {
  margin-top: 2rem;
}

.mb_20 {
  margin-bottom: 2rem;
}

.pt_40 {
  padding-top: 4rem;
}

.pb_40 {
  padding-bottom: 4rem;
}

.header_ttl,
.footer_ttl {
  padding: 20px 0;
  font-size: 30px;
  color: #cccccc;
}

/*# sourceMappingURL=style.css.map */
